ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
body {
  margin: 0px;
}
.ANDROMEDA{
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ANDROMEDA h1{
 font-family: monospace;
 color: rgb(9, 9, 78);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid gray;
  box-shadow: 1px 1px rgba(28, 82, 197, 0.527);
}
.navbar > li {
  display: flex;
  align-items: center;
}
.logonavbar {
  height: 60px;
  border-radius: 5%;
}
.logonavbar:hover {
  cursor: pointer;
}
.boton_primario {
  border: 0px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: bolder;
  padding: 10px 12px;
  background-color: rgb(63, 121, 228);
}
.boton_primario:hover {
  cursor: pointer;
  transform: scale(0.9);
  box-shadow: 3px 3px #000;
}
.quitarlinea {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
