.tabla{
    margin: 10px;
    overflow-y:scroll ;
}

.tabla td,
.tabla th{
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
}
.tabla th{
    background-color: rgb(53, 135, 243);
    color: aliceblue;
    padding-top: 12px;
    padding-bottom: 10px;
    
}
.tabla tr:nth-child(even){
    background-color: rgba(207, 207, 207, 0.664);

}
.tabla tr:hover{
    background-color: rgba(0, 132, 255, 0.356);
    cursor: pointer;
}