
.maincontainer{
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: hidden;
}
.maincontainer > main{
  height: 100%;
  overflow-y: scroll;

}
.maincontainer > footer{
  padding: 10px;
  background-color: rgb(250, 250, 255);

}